body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  color: rgb(247, 247, 247);
  background-color: rgb(242, 242, 242);
}

body, html {
	width: 100%;
	height: 100%;
}

.flex-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}


/* Navbar start */

.navbar {
  width: 100%;
  height: 10vh;
  background-color: rgb(176, 49, 31);
  display: inline-flex;
}

.logo {
  margin: 0;
  padding: 1.9vh;
  margin-left: 2vw;
  font-size: 4.5vh;
}

.navbar input {
  width: 20vw;
  height: 5vh;
  border-radius: 20px;
  border: 0;
  margin-top: 2.2vh;
  margin-left: 2vw;
  text-align: center;
  outline: 0;
}

.user {
  margin-left: 46.7vw;
  margin-top: 2.5vh;
}

.user a {
  color: rgb(247, 247, 247);
  text-decoration: none;
  font-size: 4vh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e75050;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: 43.8vw;
    text-align: center;
}

.dropdown a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Navbar end */



/* Sidebar start */

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10vh;
    height: 90vh;
    background-color: #e75050;
}

.sidebar li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 5vh;
    text-align: center;
}

.sidebar li a:hover {
    background-color: rgb(222, 65, 43);
    color: white;
}

.sidebar li a.active {
  background-color: rgb(222, 65, 43);
  color: white;
}




/* Sidebar end */
