ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: #dddddd;
    height: 2000px;
}

li a {
    display: block;
    color: black;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 2.5vh;
}

li a:hover:before {
    color: black;
    content: "▶ ";
}