.title {
  color: rgb(108, 108, 108);
  margin-top: -87vh;
  margin-left: 8.5vw;
  font-size: 4.5vh;
}

.subtitle {
  color: rgb(124, 124, 124);
  margin-left: 16vw;
  margin-top: -7vh;
  font-size: 2.4vh;
}
