.title {
  color: rgb(108, 108, 108);
  margin-top: -87vh;
  margin-left: 8.5vw;
  font-size: 4.5vh;
}

.subtitle {
  color: rgb(124, 124, 124);
  margin-left: 13vw;
  margin-top: -7vh;
  font-size: 2.4vh;
}



.filesystem {
  width: 88vw;
  height: 62vh;
  background-color: rgb(249, 249, 249);
  color: black;
  margin-left: 8.5vw;
  padding-top: 0.1vh;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 2%;
  margin-top: 7vh;
}

.filesystemtitle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 4vh;
  padding: 2vh;
  margin: 0;
}

.filesystem h3 {
  font-size: 2.5vh;
  padding: 2vh;
  margin: 0;
}
